//===========//
// parameters
//===========//

params {
    reads  = null
    skip_decontamination = false
    kraken_db = '/bank/kraken/k2_pluspfp_20251015'
    skip_assembly = false
    contigs = null
    type_assembly = 'spades'
    busco_db = 'hymenoptera_odb12'
    probes = null
    flank = 160
    min_percent = 40
    trimming = 'none'
    phylogenetic_format = 'nexus'
    outdir = 'results'
}

executor {
    name = 'slurm'
    queueSize = 100
}

outputDir = params.outdir

//singularity.enabled = true
//singularity.autoMounts = true

process {
    executor       = 'slurm'
    queue          = 'workq'
    errorStrategy  = 'retry'
    maxRetries     = 2

    withName: 'FASTQC_RUN' {
      memory = 4.GB
      cpus   = 2
      time   = '1h'
    }

    withName: 'MULTIQC_RUN' {
      memory = 4.GB
      cpus   = 1
      time   = '30m'
    }

    withName: 'CONTAMINATION' {
      memory = 260.GB
      cpus   = 8
      time   = '1h'
    }

        withName: 'REMOVE' {
      memory = 24.GB
      cpus   = 1
      time   = '16h'
    }

        withName: 'CHECK' {
      memory = 300.GB
      cpus   = 8
      time   = '5h'
    }

        withName: 'CONTAM_SUMMARY' {
      memory = 3.GB
      cpus   = 1
      time   = '1h'
    }

        withName: 'FASTQC_RUN_AFTER' {
      memory = 4.GB
      cpus   = 2
      time   = '2h'
    }

    withName: 'MULTIQC_RUN_AFTER' {
      memory = 4.GB
      cpus   = 1
      time   = '1h'
    }

    withName: 'SPADES_ASSEMBLY' {
      memory = 500.GB
      cpus   = 28
      time   = '1d'
      errorStrategy = 'terminate'
    }

    withName: 'MEGAHIT_ASSEMBLY' {
      memory = 60.GB
      cpus   = 28
      time   = '7h'
    }

    withName: 'QUAST' {
      memory = 10.GB
      cpus   = 1
      time   = '10m'
    }

    withName: 'BUSCO_DOWNLOAD' {
      cpus   = 1
      memory = 5.GB
      time   = '1h'
    }

    withName: 'BUSCO' {
      memory = 10.GB
      cpus   = 2
      time   = '2h'
    }

    withName: 'ALIGNMENT_LASTZ' {
      memory = 1.GB
      cpus   = 1
      time   = '1h'
    }

    withName: 'REMOVE_PARALOGS' {
      memory = 1.GB
      cpus   = 2
      time   = '10m'
    }

    withName: 'SUMMARY_REMOVE_PARALOGS' {
      memory = 1.GB
      cpus   = 1
      time   = '10m'
    }

    withName: 'EXTRACT_FLANKED' {
      memory = 1.GB
      cpus   = 1
      time   = '10m'
    }

    withName: 'COMBINE_BY_LOCUS' {
      memory = 1.GB
      cpus   = 1
      time   = '30m'
    }

    withName: 'MAFFT' {
      memory        = 10.GB
      cpus          = 12
      time          = '1h'
    }

    withName: 'NEXUS_FORMAT' {
      memory        = 7.GB
      cpus          = 1
      time          = '30m'
    }

    withName: 'PHYLIP_FORMAT' {
      memory        = 7.GB
      cpus          = 1
      time          = '30m'
    }

    withName: 'TRIMAL' {
      memory        = 10.GB
      cpus          = 6
      time          = '1h'
    }
}



//debug//
report {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/report.html"
    overwrite = true 
}
timeline {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/timeline.html"
    overwrite = true  
}
trace {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/trace.txt"
    fields    = 'task_id,hash,name,status,exit,duration,realtime,%cpu,rss,peak_rss,vmem,peak_vmem,memory,cpus'
    overwrite = true
}
