//===========//
// parameters
//===========//

params {
    reads  = null
    input_format = 'raw'
    skip_assembly = 'false'
    contigs = null
    probes = null
    nb_samples = '21'
    gblocks = true
    percent = '0.75'
    outdir = 'results'
    kraken_db = '/bank/kraken/k2_pluspfp_20251015'
}

executor {
    name = 'slurm'
    queueSize = 3
}

outputDir = params.outdir

//singularity.enabled = true
//singularity.autoMounts = true

process {
    executor       = 'slurm'
    queue          = 'workq'
    errorStrategy  = 'retry'
    maxRetries     = 2

    withName: 'FASTQC_RUN' {
      memory = 4.GB
      cpus   = 2
      time   = '2h'
    }

    withName: 'MULTIQC_RUN' {
      memory = 4.GB
      cpus   = 1
      time   = '1h'
    }

    withName: 'CONTAMINATION' {
      memory = 300.GB
      cpus   = 8
      time   = '5h'
    }


        withName: 'REMOVE' {
      memory = 24.GB
      cpus   = 1
      time   = '16h'
    }

        withName: 'CHECK' {
      memory = 300.GB
      cpus   = 8
      time   = '5h'
    }
          }



//debug//
report {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/report.html"
    overwrite = true 
}
timeline {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/timeline.html"
    overwrite = true  
}
trace {
    enabled   = true
    file      = "${params.outdir}/pipeline_info/trace.txt"
    overwrite = true
}    
